body {
    font-family:  "微軟正黑體" , "Microsoft Jhenghei", sans-serif;
}

.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
    transform: translate(0,50px);
}
.legend tr{    
    border-bottom:1px solid grey;
}
.legend tr:first-child {
    border-top:1px solid grey;
}
.legend td{
    padding:4px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    text-align:right;
    width:50px;
}

.filter label {
    margin-right: 5px;
}

.result th {
    cursor: s-resize;
}

.sorting_asc:after {
    float: right;
    content: "\f0de";
    font-family: FontAwesome;
}

.sorting_desc:after {
    float: right;
    content: "\f0dd";
    font-family: FontAwesome;
}

.sortable:after {
    float: right;
    content: "\f0dc";
    font-family: FontAwesome;
}

.datePicker {
    display: none;
    -moz-transform: translateX(0px) translateY(-14px);
    -webkit-transform: translateX(0px) translateY(-14px);
    -o-transform: translateX(0px) translateY(-14px);
    -ms-transform: translateX(0px) translateY(-14px);
    transform: translateX(0px) translateY(-14px);
}

#settingList > li {
    cursor: pointer;
}

#settingList > li:hover {
    background-color: #f8f8f8;
}

[data-toggle="collapse"] {
    cursor: pointer;
}

.dataTables_filter {
    float: right;
}

#submit span{
    display: block;
}

#submit i{
    display: none;
}

#submit.waiting span{
    display: none;
}

#submit.waiting i{
    display: block;
}

.features-icon {
    text-align: center;
    margin-top: -4em;
}

.features-icon>* {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 20px;
    font-size: 5em;
    background-color: #fff;
    cursor: pointer;
}

.thumbnail>.caption>h3 {
    text-align: center;
}

.landingpage {
    background-image: url('../img/landingpage.jpg');
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}

.landingpage .title {
    border: 5px solid;
    border-radius: 10px;
    font-size: 36px;
    font-weight: 700;
    padding: 5px;
    margin: 5px;
}


@media screen and (min-width: 768px){
    .landingpage {
        padding-top: 80px;
        height: 500px;
    }
}

#bubbleDetailSection {
    position: relative;
    z-index: 1;
    background-color: rgba(245, 245, 245, 0.7);
}