.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
    transform: translate(0,50px);
}
.legend tr{    
    border-bottom:1px solid grey;
}
.legend tr:first-child {
    border-top:1px solid grey;
}
.legend td{
    padding:4px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    text-align:right;
    width:50px;
}

.filter label {
    margin-right: 5px;
}

.result th {

    cursor: s-resize;
}

.chevron-up:after {
    float: right;
    content: "\e113";
    font-family: 'Glyphicons Halflings';
}

.chevron-down:after {
    float: right;
    content: "\e114";
    font-family: 'Glyphicons Halflings';
}