.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
    transform: translate(0,50px);
}
.legend tr{    
    border-bottom:1px solid grey;
}
.legend tr:first-child {
    border-top:1px solid grey;
}
.legend td{
    padding:4px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    text-align:right;
    width:50px;
}

.filter label {
    margin-right: 5px;
}

.result th {
    cursor: s-resize;
}

.sorting_asc:after {
    float: right;
    content: "\f0de";
    font-family: FontAwesome;
}

.sorting_desc:after {
    float: right;
    content: "\f0dd";
    font-family: FontAwesome;
}

.sortable:after {
    float: right;
    content: "\f0dc";
    font-family: FontAwesome;
}

.datePicker {
    display: none;
    -moz-transform: translateX(0px) translateY(-14px);
    -webkit-transform: translateX(0px) translateY(-14px);
    -o-transform: translateX(0px) translateY(-14px);
    -ms-transform: translateX(0px) translateY(-14px);
    transform: translateX(0px) translateY(-14px);
}

#settingList > li {
    cursor: pointer;
}

#settingList > li:hover {
    background-color: #f8f8f8;
}

[data-toggle="collapse"] {
    cursor: pointer;
}

.dataTables_filter {
    float: right;
}

#submit span{
    display: block;
}

#submit i{
    display: none;
}

#submit.waiting span{
    display: none;
}

#submit.waiting i{
    display: block;
}